<!-- кнопка добавить -->
<div class="contextual">
  <%= link_to l(:label_mail_reactions_new), { :action => 'new'}, {:class => 'icon icon-add'} %>
</div>

<%= title l(:title_mail_reactions) %> <!-- замена <h2>title</h2> Более правильно т.к общее для всех. Хотя и время на генерацию -->

<table class="list">
  <thead>
    <tr>
      <th><%=l(:field_mail)%></th>
      <th><%=l(:field_cron)%></th>
      <th><%=l(:field_active)%></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% for source in @mail_sources %>
    <tr id="mail_sources-<%= source.id %>">
      <td class="name"><%= link_to source.email, {:action => 'edit', :id => source}%></td>
      <td><%= source.cron %></td>
      <td><%= source.active %></td>
      <td></td>
      <td class="buttons">
        <%#= link_to l(:button_test), try_connection_auth_source_path(source), :class => 'icon icon-test' %>
        <%= link_to :delete, {:action => 'destroy', :id => source}, {data: { confirm: "Are you sure?" }} %>
        <%#= delete_link mail_reactions_path(source) %>
      </td>
    </tr>
  <%end %>

</table>

<% html_title(l(:label_information_plural)) -%>
